	<footer id="footer" role="contentinfo">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<p>
						For any questions, feedback or sponsorship proposals <br>
						feel free to send an email at <br>
						cristian@hacksoc.com
					</p>
				</div>
			</div>
			<div class="">
				<div class="col-md-12 text-center">
					<p>{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</p>

				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="social social-circle">
						<li><a href="https://twitter.com/cs50"><i class="icon-twitter"></i></a></li>
						<li><a href="https://www.facebook.com/events/269788896775091/"><i class="icon-facebook"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
