	<section id="fh5co-sponsors" data-section="sponsors">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.sponsors.title }}{{ . }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>{{ with .Site.Params.sponsors.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>
			        {{ range .Site.Params.sponsors.partner }}
			        	<div class="row">
			        		<a href="{{ .link }}" class="fh5co-sponsor-item to-animate">
			        			<img src="images/{{ .img }}" alt="{{ .alt }}" class="fh5co-sponsor-img img-responsive">
			        		</a>
			        	</div>

			        	<div class="clearfix visible-sm-block"></div>
			        {{ end }}
                <div class="row row-bottom-padded-sm hardware-sponsor text-center">
                	<p class="to-animate" style="font-size: 130%"> Hardware Sponsor </p>
                <div class="col-md-4"></div>
			        {{ range .Site.Params.sponsors.hardware }}
			        	<div class="col-md-4 col-sm-4 col-xxs-12">
			        		<a href="{{ .link }}" class="fh5co-sponsor-item to-animate">
			        			<img src="images/{{ .img }}" alt="{{ .alt }}" class="fh5co-sponsor-img-hardware img-responsive">
			        		</a>
			        	</div>

			        	<div class="clearfix visible-sm-block"></div>
			        {{ end }}
                                </div>
		</div>
	</section>
